{
  "AUTH0":{
      "SECRET":"AUTH0_SECRET",
      "CLIENT_ID":"AUTH0_CLIENT_ID"
  },
  "BITLY":{
    "API_URL": "https://api-ssl.bitly.com/v3/",
    "API_TOKEN": "",
    "OAUTH_TOKEN": ""
  },
  "UPLOAD":{
    "API_URL": "https://api.uploadcare.com",
    "PUBLIC_KEY":"...",
    "SECRET_KEY":"..."
  }
}